{% extends 'base.html' %}

{% block content %}
  <div>

    {% if digests %}

      {% for entry in digests %}

        <div>
          <p><a href="{{ entry.slug }}">{{ entry.title }}</a></p>
        </div>

      {% endfor %}    

    {% else %}
      No entries available.<br />
    {% endif %}

  </div>

  <nav>
    {% if pagination %}
      <ul>
        {% for page_number in pagination %}
          <li><a href="/pages/{{ page_number }}/">{{ page_number }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </nav>

{% endblock %}
